<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GameShare{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'games:index' %}">Home</a></li>
                <li><a href="{% url 'games:games' %}">Games</a></li>
                <li><a href="{% url 'games:gamers' %}">Gamers</a></li>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'games:profile' %}">Profile</a></li>
                    <li>
                      <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                      </form>                    
                    </li>
                {% else %}
                  <li><a href="{% url 'accounts:login' %}">Login</a></li>
                  <li><a href="{% url 'accounts:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 GameShare</p>
    </footer>
</body>
</html>
