{% extends 'games/base.html' %}
{% block content %}
<h1>Available Games</h1>
<ul>
  {% for game in available_games %}
    <li>
      <a href="{% url 'games:game_detail' game.id %}">{{ game.name }}</a>
      <p>Genre: {{ game.genre }}</p>
      <p>Description: {{ game.description }}</p>
      <p>Owner: {{ game.owner.username }}</p> 
    </li>
  {% empty %}
    <li>No games available for rent right now.</li>
  {% endfor %}
</ul>

<h1>Loaned Games</h1>
<ul>
  {% for game in loaned_games %}
    <li>
      <a href="{% url 'games:game_detail' game.id %}">{{ game.name }}</a>
      <p>Genre: {{ game.genre }}</p>
      <p>Description: {{ game.description }}</p>
      <p>Owner: {{ game.owner.username }}</p> 

      {% for loan in game.loans.all %}
        <p>Loaned to: {{ loan.gamer.username }} on {{ loan.loaned_at|date:"Y-m-d H:i" }} to be returned by {{ loan.return_by|date:"Y-m-d H:i" }}</p>
      {% endfor %}
    </li>
  {% empty %}
    <li>No games are currently loaned out.</li>
  {% endfor %}
</ul>
{% endblock %}
