{% extends 'games/base.html' %}

{% block content %}
  <div class="flex gap-5">
    {% if game.image %}
      <img class="rounded-lg aspect-square size-20 m-0" alt="{{ game.name }}" src="{{ game.image.url }}" />
    {% endif %}
    <div>
      <h1 class="mb-1">{{ game.name }}</h1>
      <p class="mt-0 text-2xl font-thin">{{ game.genre }}</p>
    </div>
  </div>
  <p>{{ game.description }}</p>

  <h2>Loans</h2>
  <ul>
    {% for loan in game.loans.all %}
      <li>
        <b>{{ loan.board_game.name }}</b> borrowed on {{ loan.loaned_at|date:'Y-m-d H:i' }}

        {% if loan.returned %}
          <span class="bg-green-500 text-white rounded-full px-2 py-1 ml-2 text-sm">Returned</span>
        {% else %}
          <span class="bg-yellow-500 text-white rounded-full px-2 py-1 ml-2 text-sm">Loaned</span>
        {% endif %}
      </li>
    {% empty %}
      <li>No loans available for this gamer yet.</li>
    {% endfor %}
  </ul>

  {% if game.is_available == False %}
    <p class="text-yellow-600 font-bold">This game is currently borrowed. You can reserve it for the next available date.</p>
  {% elif game.owner == gamer %}
    <p class="text-yellow-600 font-bold">This is your game, you do not need to borrow it.</p>
  {% elif gamer.can_borrow == False %}
    <p class="text-yellow-600 font-bold">You have reached the maximum limit of 3 borrowed games. Please return a game before borrowing another.</p>
  {% else %}
    <form method="post" action="{% url 'games:create_loan' game.id %}">
      {% csrf_token %}
      <button type="submit">Borrow this game</button>
    </form>
  {% endif %}
{% endblock %}
