{% extends 'games/base.html' %}

{% block content %}
  <h1>{{ game.name }}</h1>
  <p>{{ game.genre }}</p>
  <p>{{ game.description }}</p>
  <p>Created on: {{ game.created_at|date:'F j, Y' }}</p>

  {% if game.is_available == False %}
    <p>This game is currently borrowed. You can reserve it for the next available date.</p>
  {% elif gamer.can_borrow == False %}
    <p>You have reached the maximum limit of 3 borrowed games. Please return a game before borrowing another.</p>
  {% else %}
    <form method="post" action="{% url 'games:create_loan' game.id %}">
      {% csrf_token %}
      <button type="submit">Borrow this game</button>
    </form>
  {% endif %}
{% endblock %}
